@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeLeft {
    0% { transform: translate(100%, 0%); opacity: 0; }
    100% { transform: translate(0%, 0%); opacity: 1; }
}

@keyframes fadeUp {
    0% { transform: translate(-120%, -50%); opacity: 1; }
    100% { transform: translate(-120%, -200%); opacity: 0; }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.25); }
    100% { transform: scale(1); }
}

@keyframes rainDown {
    0% { transform: translate(-50%, calc(-100% + -25vh)) rotate(0deg); }
    100% { transform: translate(-50%, calc(100% + 125vh)) rotate(360deg); }
}

@keyframes rotateClockwise {
    0% { transform: rotate(0deg) translate(-50%, -50%); }
    100% { transform: rotate(360deg) translate(-50%, -50%); }
}

@keyframes rotateCounterclockwise {
    0% { transform: rotate(0deg) translate(-50%, -50%); }
    100% { transform: rotate(-360deg) translate(-50%, -50%); }
}

@keyframes wiggle {
    0% { transform: rotate(0deg) translate(-50%, -50%); }
    25% { transform: rotate(12deg) translate(-50%, -50%); }
    50% { transform: rotate(-8deg) translate(-50%, -50%); }
    75% { transform: rotate(4deg) translate(-50%, -50%); }
    100% { transform: rotate(0) translate(-50%, -50%); }
}