.background {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;

	img {
		border-radius: 99rem;
		position: absolute;
		left: 0;
		top: 0;
		width: auto;
		height: 12vh;
		transform: translate(-50%, -50%);
	}
}