@import './variables.scss';

.game {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 1rem 0rem 1rem 1rem;
	position: relative;

	.cookie {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		position: relative;

		label {
			align-items: center;
			background-color: transparent;
			display: flex;
			flex-direction: column;
			position: relative;
			white-space: normal;
			z-index: 1;

			.cookies {
				background-color: $color-primary;
				border-radius: 99rem;
				border: $border-width solid #ffffff;
				box-shadow: inset 0.125rem 0.125rem rgba(#000, 0.25);
				color: #ffffff;
				display: inline-block;
				font-size: 1rem;
				font-weight: bold;
				margin: 0.25rem;
				padding: 0.5rem 2.5rem 0.5rem 1rem;
				position: relative;
				text-shadow: 0.125rem 0.125rem rgba(#000, 0.25);

				img {
					width: 1.5rem;
					height: auto;
					background-color: #ffffff;
					border-radius: 99rem;
					box-sizing: content-box;
					padding: 0.125rem;
					position: absolute;
					right: 0.125rem;
					top: 0.125rem;
					margin-left: 0.25rem;
				}
			}

			.rate {
				background-color: #ffffff;
				border-radius: 99rem;
				display: inline-block;
				font-size: 1rem;
				font-weight: bold;
				margin: 0.25rem;
				padding: 0.5rem 1rem;
			}
		}

		button {
			transition: all 0.05s ease-in-out;
			margin-bottom: 0rem;
			position: relative;
			z-index: 0;

			&:active {
				transform: scale(0.95);
			}

			img {
				width: 40vh;
				height: auto;
				max-width: 100%;
				position: relative;
				pointer-events: none;

				&.star {
					position: absolute;
					pointer-events: none;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					transform-origin: 0 0;
					opacity: 0.25;
					width: 150vh;
					height: 150vh;
					max-width: initial;
					animation: rotateClockwise 60s linear infinite;

					&:nth-child(2) {
						animation: rotateCounterclockwise 60s linear infinite;
						width: 120vh;
						height: 120vh;
					}
				}

				@keyframes rotateClockwise {
					0% { transform: rotate(0deg) translate(-50%, -50%); }
					100% { transform: rotate(360deg) translate(-50%, -50%); }
				}

				@keyframes rotateCounterclockwise {
					0% { transform: rotate(0deg) translate(-50%, -50%); }
					100% { transform: rotate(-360deg) translate(-50%, -50%); }
				}
			}
		}
	}
}