@import './variables.scss';

.game {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 1rem 0rem 1rem 1rem;
	position: relative;

	.cookie {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		position: relative;

		label {
			align-items: center;
			background-color: transparent;
			display: flex;
			flex-direction: column;
			white-space: normal;

			.cookies {
				background-color: $color-primary;
				border-radius: 99rem;
				color: #ffffff;
				display: inline-block;
				font-size: 1rem;
				font-weight: bold;
				margin: 0.25rem;
				padding: 0.5rem 2.5rem 0.5rem 1rem;
				position: relative;

				img {
					width: 1.5rem;
					height: auto;
					background-color: #ffffff;
					border-radius: 99rem;
					box-sizing: content-box;
					padding: 0.125rem;
					position: absolute;
					right: 0.125rem;
					top: 0.125rem;
					margin-left: 0.25rem;
				}
			}

			.rate {
				background-color: #ffffff;
				border-radius: 99rem;
				display: inline-block;
				font-size: 1rem;
				font-weight: bold;
				margin: 0.25rem;
				padding: 0.5rem 1rem;
			}
		}

		button {
			transition: all 0.05s ease-in-out;
			margin-bottom: 0rem;

			&:active {
				transform: scale(0.95);
			}

			img {
				width: 40vh;
				height: auto;
				max-width: 100%;
				pointer-events: none;
			}
		}
	}
}