.notifications {
	overflow: hidden;
	position: absolute;
    pointer-events: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    z-index: 2;

    label {
        position: absolute;
        border: 0.125rem solid #fff;
        transform: translate(-50%, -50%);

        @keyframes fadeUp {
            0% { transform: translate(-120%, -50%); opacity: 1; }
            100% { transform: translate(-120%, -200%); opacity: 0; }
        }
    }
}