@import './variables.scss';
@import './animations.scss';

.notifications {
	overflow: hidden;
	position: absolute;
    pointer-events: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    z-index: 2;

    label {
        position: absolute;
        border: $border-width solid #fff;
        box-shadow: inset 0.125rem 0.125rem rgba(#000, 0.1), 0.125rem 0.125rem rgba(#000, 0.1);
        transform: translate(-50%, -50%);
    }
}