@import './variables.scss';

.review {
    position: absolute;
    left: 1rem;
    bottom: 0rem;
    z-index: 2;

    button {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem !important;
        vertical-align: middle;

        img {
            margin-left: 0.25rem;
            width: 1rem;
            height: 1rem;
            animation: pulse 1s ease-in-out infinite;
            pointer-events: none;

            @keyframes pulse {
                0% { transform: scale(1); }
                50% { transform: scale(1.25); }
                100% { transform: scale(1); }
            }
        }
    }
}