@import './variables.scss';

.shop {
	padding: 1rem;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: 0;

			button {
				position: relative;
				width: 100%;

				&[disabled] {
					color: #999999;
					cursor: initial;

					.info {
						.price {
							background-color: #dddddd;
							color: #999999;
						}
					}
				}

				.info {
					display: flex;
					gap: 0.25rem;
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translate(-50%, 50%);

					.quantity {
						background-color: #dddddd;
						color: #999999;
						border-radius: 99rem;
						font-size: 0.75rem;
						font-weight: bold;
						padding: 0.25rem 0.5rem;
					}

					.price {
						color: #fff;
						background-color: $color-primary;
						border-radius: 99rem;
						font-size: 0.75rem;
						font-weight: bold;
						padding: 0.25rem 0.5rem;
					}
				}
			}
		}
	}
}