@import './variables.scss';

.shop {
	height: inherit;
	padding: 1rem;
	overflow-y: scroll;

	.shop-buttons {
		display: flex;
		justify-content: space-between;
		position: relative;

		button {
			background-color: #fff;
			border: $border-width solid #fff;
			border-radius: 99rem;
			display: inline-block;
			font-size: 1rem;
			font-weight: bold;
			margin-bottom: 1rem;
			padding: 0.5rem 1rem;
			transition: all 0.25s ease-in-out;
			white-space: nowrap;

			&:hover {
				border-color: #ff5722;
			}
			
			&.toggle {
				background-color: #ff5722;
				color: #fff;
			}
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: 0;

			button {
				padding: 1rem 2rem;
				position: relative;
				width: 100%;

				&[disabled] {
					color: #999999;
					cursor: initial;

					.info {
						.price {
							background-color: #dddddd;
							color: #999999;
							padding: 0.25rem 0.5rem;

							img {
								display: none;
							}
						}
					}
				}

				&:hover {
					.tooltip {
						opacity: 1;
						transform: translate(-50%, 0%);
					}
				}

				.tooltip {
					background-color: #22a0ff;
					border-radius: 99rem;
					color: #ffffff;
					font-size: 0.75rem;
					font-weight: bold;
					opacity: 0;
					padding: 0.125rem 1rem;
					pointer-events: none;
					position: absolute;
					text-align: center;
					left: 50%;
					top: 0;
					transition: all 0.25s ease-in-out;
					transform: translate(-50%, -50%);
					z-index: 999;
				}
				

				.info {
					display: flex;
					gap: 0.25rem;
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translate(-50%, 50%);

					.quantity {
						background-color: #dddddd;
						color: #999999;
						border-radius: 99rem;
						display: flex;
						align-items: center;
						font-size: 0.75rem;
						line-height: 1rem;
						font-weight: bold;
						padding: 0.25rem 0.5rem;
					}

					.price {
						color: #fff;
						background-color: $color-primary;
						border-radius: 99rem;
						border: $border-width solid #fff;
						font-size: 0.75rem;
						line-height: 1rem;
						font-weight: bold;
						padding: 0.25rem 1.75rem 0.25rem 0.5rem;
						position: relative;

						img {
							width: 1rem;
							height: auto;
							background-color: #ffffff;
							border-radius: 99rem;
							box-sizing: content-box;
							padding: 0.125rem;
							position: absolute;
							right: 0.125rem;
							top: 0.125rem;
							margin-left: 0.25rem;
						}
					}
				}
			}
		}
	}
}