@import './variables.scss';

.shop {
	height: inherit;
	padding: 1rem;
	overflow-y: scroll;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: 0;

			button {
				position: relative;
				width: 100%;

				&[disabled] {
					color: #999999;
					cursor: initial;

					.info {
						.price {
							background-color: #dddddd;
							color: #999999;
							padding: 0.25rem 0.5rem;

							img {
								display: none;
							}
						}
					}
				}

				
				/* Show the tooltip text when you mouse over the tooltip container */
				&:hover .tooltip {
					visibility: visible;
				}

				/* Tooltip text */
				.tooltip {
					visibility: hidden;
					font-size: .85rem;
					height: 50px;
					line-height: 50px;
					width: 100%;
					white-space: break-spaces;
					max-width: 80px;
					background-color: #9999997a;
					color: #000;
					text-align: center;
					border-radius: .75rem 99rem 99rem .75rem;
					
					/* Position the tooltip text - see examples below! */
					position: absolute;
					right: 0;
					top: 0;
					z-index: 999;
				}
				

				.info {
					display: flex;
					gap: 0.25rem;
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translate(-50%, 50%);

					.quantity {
						background-color: #dddddd;
						color: #999999;
						border-radius: 99rem;
						font-size: 0.75rem;
						line-height: 1rem;
						font-weight: bold;
						padding: 0.25rem 0.5rem;
					}

					.price {
						color: #fff;
						background-color: $color-primary;
						border-radius: 99rem;
						font-size: 0.75rem;
						line-height: 1rem;
						font-weight: bold;
						padding: 0.25rem 1.75rem 0.25rem 0.5rem;
						position: relative;

						img {
							width: 1rem;
							height: auto;
							background-color: #ffffff;
							border-radius: 99rem;
							box-sizing: content-box;
							padding: 0.125rem;
							position: absolute;
							right: 0.125rem;
							top: 0.125rem;
							margin-left: 0.25rem;
						}
					}
				}
			}
		}
	}
}