@import './variables.scss';

/* Global styling */
* {
	box-sizing: border-box;
	user-select: none;
	font-size: 100%;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: clamp(16px, 2vh, 32px);
	line-height: clamp(16px, 2vh, 32px);
	min-width: 640px;
	min-height: 360px;

	body {
		margin: 0;
		background-color: #f1f1f1;
		font-size: 1rem;
		height: 100vh;
		overflow: hidden;
		width: 100vw;

		#app {
			height: 100%;
			width: 100%;
		}

		// Global styling
		.ui {
			display: flex;
			position: relative;
			width: inherit;
			height: inherit;

			.content {
				height: inherit;
				flex-grow: 1;
			}

			.menu {
				height: inherit;
			}

			label {
				background-color: #fff;
				border-radius: 99rem;
				display: inline-block;
				font-size: 1rem;
				font-weight: bold;
				margin-bottom: 1rem;
				padding: 0.5rem 1rem;

				&.color {
					background-color: $color-primary;
					color: #ffffff;
				}
			}

			button {
				background-color: #fff;
				border: none;
				border-radius: 99rem;
				cursor: pointer;
				margin-bottom: 1rem;
				padding: 1rem;
				white-space: nowrap;
			}
		}
	}
}

/* Scrollbar */
::-webkit-scrollbar { width: 0.5rem; }
::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0); }
::-webkit-scrollbar-thumb { background: rgba(#545454, 0.5); border-radius: 999rem; border: 0.125rem solid transparent; background-clip: content-box; }
::-webkit-scrollbar-thumb:hover { background: rgba(#545454, 1); border: 0rem solid transparent; background-clip: content-box; }

/* Selected text */
::selection { background: $color-primary; }

/* Focus */
*:focus-visible {
	outline: 0.25rem solid $color-primary;
	outline-offset: -0.25rem;
}

/* Animations */
