/* Global styling */
* {
	box-sizing: border-box;
	user-select: none;
	font-size: 100%;
}

// Variables
$color-primary: #377DFF;

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: clamp(8px, 2vh, 16px);
	line-height: clamp(8px, 2vh, 16px);

	body {
		margin: 0;
		background-color: #276384;
		overflow: hidden;

		// Row/Column system
		.row {
			margin: 0rem 0rem 1.25rem 0rem;
			display: flex;
			gap: 1.25rem;

			&.justify-content-start { justify-content: flex-start; }
			&.justify-content-center { justify-content: center; }
			&.justify-content-end { justify-content: flex-end; }

			.col {
				width: 100%;

				.cookie-clicker {
					text-align: center;

					p {
						background-color: rgba(0, 0, 0, 0.6);
						color: #fff;
						font-size: 4rem;
						font-weight: 700;
						line-height:4.5rem;
						padding: 1rem 0;
					}

					button {
						background-color: transparent;
						background-size: contain;
						background-repeat: no-repeat;
						border: none;
						color: #000;
						cursor: pointer;
						width: 400px;
						height: 400px;
					}
				}
			}
		}
		
		
	}
}

/* Scrollbar */
::-webkit-scrollbar { width: 0.5rem; }
::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0); }
::-webkit-scrollbar-thumb { background: rgba(#545454, 0.5); border-radius: 999rem; border: 0.125rem solid transparent; background-clip: content-box; }
::-webkit-scrollbar-thumb:hover { background: rgba(#545454, 1); border: 0rem solid transparent; background-clip: content-box; }

/* Selected text */
::selection { background: $color-primary; }

/* Focus */
*:focus-visible {
	outline: 0.25rem solid $color-primary;
	outline-offset: -0.25rem;
}

/* Animations */
