@import './variables.scss';

/* Global styling */
* {
	box-sizing: border-box;
	user-select: none;
	font-size: 100%;
	touch-action: manipulation; // Disable double tap to zoom
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: clamp(16px, 2vh, 32px);
	line-height: clamp(16px, 2vh, 32px);
	min-width: 640px;
	min-height: 360px;

	body {
		margin: 0;
		background-color: #f1f1f1;
		background: linear-gradient(180deg, rgba(155,230,255,1) 0%, rgba(0,100,244,1) 100%);
		font-size: 1rem;
		height: 100vh;
		overflow: hidden;
		width: 100vw;

		#app {
			height: 100%;
			width: 100%;
		}

		// Global styling
		.ui {
			display: flex;
			position: relative;
			width: inherit;
			height: inherit;
			overflow: hidden;

			.content {
				height: inherit;
				position: relative;
				z-index: 1;
				flex-grow: 1;
			}

			.menu {
				height: inherit;
				max-width: 50%;
				width: 100%; 
				position: relative;
				z-index: 1;
			}

			label {
				background-color: #fff;
				border-radius: 99rem;
				display: inline-block;
				font-size: 1rem;
				font-weight: bold;
				margin-bottom: 1rem;
				padding: 0.5rem 1rem;
				white-space: nowrap;

				&.color {
					background-color: $color-primary;
					color: #ffffff;
				}
			}

			button {
				background-color: #fff;
				border: none;
				border-radius: 99rem;
				cursor: pointer;
				margin-bottom: 1rem;
				padding: 1rem;
				white-space: nowrap;
			}
		}
	}
}

/* Scrollbar */
::-webkit-scrollbar { width: 0.5rem; }
::-webkit-scrollbar-track { background: rgba(#ffffff, 0.25); }
::-webkit-scrollbar-thumb { background: rgba(#ffffff, 1); border-radius: 999rem; border: 0.125rem solid transparent; background-clip: content-box; }
::-webkit-scrollbar-thumb:hover { background: rgba(#ffffff, 1); border: 0rem solid transparent; background-clip: content-box; }

/* Selected text */
::selection { background: $color-primary; }

/* Focus */
*:focus-visible {
	outline: 0.25rem solid $color-primary;
	outline-offset: -0.25rem;
}

/* Animations */
